.batches-container {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .create-batch-button {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .description {
    color: #666;
    margin-bottom: 20px;
  }
  
  .filter-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filter {
    display: flex;
    align-items: center;
  }
  
  .filter-select {
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search {
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  .search-input {
    border: none;
    flex-grow: 1;
    outline: none;
  }
  
  .batches-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .batches-table th,
  .batches-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  
  .batches-table th {
    /* background-color: ; */
    font-weight: bold;
  }
  
  .no-data {
    text-align: center;
    padding: 40px 0;
  }
  
  .no-data-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .no-data-icon {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .pagination-bar {
    margin-top: 20px;
    text-align: center;
    /* Add pagination styles here */
  }