.shortanswer, .longanswer, .starrating{
    background-color: green;
    color: white;
}

.shortanswer:hover{
    background-color: aqua;
}

.longanswer:hover{
    background-color: blue;
}

.starrating:hover{
    background-color: blue;
}